<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<div class="center jumbotron">
	  <h1>Welcome to the Medical App</h1>

	  <h2>
	    This is the home page for the
	    Cloud Application Development Project
	  </h2>

	  <%= link_to "Sign in", new_user_path, class: "btn btn-md btn-info" %>
	</div>

  </body>
</html>